<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicons/apple-touch-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicons/apple-touch-icon-60x60.png' %>">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-32x32.png' %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= image_path 'favicons/favicon-16x16.png' %>" sizes="16x16">
  <link rel="manifest" href="<%= image_path 'favicons/manifest.json' %>">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
<body>
<header>
  <div class="wrapper">
    <div class="b-logo">
        <a href="index.html"></a>
    </div>
   </div>
</header>
<!--Container for any message-->
<div class="messageContainer">
  <% flash.each do |name, msg| %>
      <%if name %>
          <% case name %>
          <% when :notice %>
              <div class="alert alert-success">
                <%= msg %>
              </div>
          <% when :error %>
              <div class="alert alert-error">
                <%= msg %>
              </div>
          <% else %>
              <div class="alert alert-info">
                <%= msg %>
              </div>
          <% end %>
      <% end %>
  <% end %>
</div>
<!--The main content-->
<%= yield %>
</body>
</html>
